body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.event {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}